<h1 mat-dialog-title fxLayoutAlign="center center">Sterge autor</h1>
<div mat-dialog-content>
    <p>Esti sigur ca vrei sa stergi autorul <b>{{data.name}}</b> cu id-ul <b>{{data.authorId}}</b>?</p>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-button color="warn" [mat-dialog-close]="data" cdkFocusInitial>
        <mat-icon>delete</mat-icon> Da
    </button>
    <button mat-button color="primary" (click)="onNoClick()">
        <mat-icon>close</mat-icon> Nu
    </button>
</div>