<h1 mat-dialog-title fxLayoutAlign="center center">
    <span *ngIf="data.type=='add'">
        Adauga biblioteca
    </span>
    <span *ngIf="data.type=='edit'">
        Editeaza biblioteca
    </span>
</h1>
<div mat-dialog-content class="example-container" fxLayout="column">
    <div class="input-row" *ngIf="data.type=='edit'">
        <mat-form-field fxFlex>
            <input matInput placeholder="Id biblioteca" disabled [ngModel]="data.store.storeId">
        </mat-form-field>
    </div>
    <div class="input-row">
        <mat-form-field fxFlex>
            <input matInput placeholder="Nume biblioteca" [(ngModel)]="data.store.name">
        </mat-form-field>
    </div>
    <div class="input-row">
        <mat-form-field fxFlex>
            <textarea matInput placeholder="Adresa" rows="3" [(ngModel)]="data.store.address"></textarea>
        </mat-form-field>
    </div>
    <div class="input-row">
        <mat-form-field fxFlex>
            <textarea matInput placeholder="Program" rows="3" [(ngModel)]="data.store.program"></textarea>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial *ngIf="data.type=='add'">
        <mat-icon>add</mat-icon> Adauga
    </button>
    <button mat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial *ngIf="data.type=='edit'">
        <mat-icon>save</mat-icon> Salveaza
    </button>
    <button mat-button color="warn" (click)="onNoClick()">
        <mat-icon>close</mat-icon> Renunta
    </button>
</div>
