/*.example-container  * {
    width: 100% !important;
}

.mat-form-field-wrapper{
    width: 100%;
}
.mat-form-field>*{
    width: 100%!important;
}

.formFieldWidth .mat-form-field-wrapper {
    width: 100%;
}

.formFieldWidth .mat-form-field-wrapper {
    width: 100%;
}

.formFieldWidth .mat-form-field-flex {
    width: 100%;
}*/